<mat-card class="mt-4">
    <mat-card-content>
        <div class="d-flex">
            <app-color class="m-1" [parameter]="parameter.color" (change)="onChange()"></app-color>
            <div class="m-1 w-100">
                <mat-label>{{parameter.name | titlecase}} ({{parameter.length}}):</mat-label>&nbsp;
                <mat-slider [(ngModel)]="parameter.length"
                            [max]="device.numLeds || 255"
                            [min]="0"
                            [step]="1"
                            [tickInterval]="1"
                            (ngModelChange)="onChange()"
                            class="w-100"
                            thumbLabel></mat-slider>
            </div>
            <button mat-mini-fab class="m-1" color="warn" (click)="onRemove()">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
