<mat-card [style]="{background: 'linear-gradient(122deg, #ffffffff, ' + parameter.color.toRGB() + '33)'}" class="mt-4">
	<mat-card-content>
		<div class="d-flex">
			<app-color (change)="onChange()" [parameter]="parameter.color" class="m-1"></app-color>
			<div class="m-1 w-100">
				<mat-label>{{parameter.name | titlecase}} ({{parameter.length}}):</mat-label>&nbsp;
				<mat-slider [max]="device.numLeds || 255"
							[min]="1"
							[step]="1"
							class="w-100">
					<input (change)="onChange()"
						   [(ngModel)]="parameter.length"
						   matSliderThumb>
				</mat-slider>
			</div>
			<button (click)="onRemove()" class="m-1 remove" color="secondary" mat-mini-fab>
				<mat-icon>remove</mat-icon>
			</button>
		</div>
	</mat-card-content>
</mat-card>
