<app-color (change)="onChange()" *ngIf="parameter.type === EffectParameterType.COLOR"
           [parameter]="castToColor()"></app-color>
<app-number (change)="onChange()" *ngIf="parameter.type === EffectParameterType.NUMBER"
            [parameter]="castToNumber()"></app-number>
<app-range (change)="onChange()" *ngIf="parameter.type === EffectParameterType.RANGE"
           [parameter]="castToRange()"></app-range>
<app-boolean (change)="onChange()" *ngIf="parameter.type === EffectParameterType.BOOLEAN"
             [parameter]="castToBoolean()"></app-boolean>
<app-numeral-option (change)="onChange()" *ngIf="parameter.type === EffectParameterType.NUMERAL_OPTION"
                    [parameter]="castToNumeralOption()"></app-numeral-option>
