<canvas #canvas (click)="onCanvasClick($event)"
        (mousedown)="onCanvasMouseDown($event)"
        (mousemove)="onCanvasMouseMove($event)"
        (mouseup)="onCanvasMouseUp($event)"
        (pointermove)="onCanvasTouchMove($event)"
        (touchend)="onCanvasTouchEnd($event)"
        (touchstart)="onCanvasTouchStart($event)"
        [style]="{backgroundColor: 'rgb('+color.r+','+color.g+','+color.b+')', padding: padding + 'px'}"
        height="200px" width="200px"></canvas>

<div class="container-fluid ">
    <div class="row align-content-center align-items-center">
        <div (click)="onColorClick(c)"
             *ngFor="let c of predefinedColors.slice(0, 6);"
             [ngClass]="{selected: c.r == color.r && c.g == color.g && c.b == color.b}" [style]="{backgroundColor: 'rgb('+c.r+','+c.g+','+c.b+')'}"
             class="color-spot col-2">
            &nbsp;
        </div>
    </div>
    <div class="row align-content-center align-items-center">
        <div (click)="onColorClick(c)"
             *ngFor="let c of predefinedColors.slice(6, 12);"
             [ngClass]="{selected: c.r == color.r && c.g == color.g && c.b == color.b}" [style]="{backgroundColor: 'rgb('+c.r+','+c.g+','+c.b+')'}"
             class="color-spot col-2">
            &nbsp;
        </div>
    </div>
</div>
