.toolbar {
	height: 48px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	background-color: #eee;
}

.sidenav-container {
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

mat-sidenav {
	background: white;
}
