<mat-card class="mt-3">
	<mat-card-content>
		<mat-card class="mt-3">
			<mat-card-content>
				<mat-label>Start ({{parameter.start}}):</mat-label>&nbsp;
				<mat-slider [max]="device.numLeds"
							[min]="0"
							[step]="1"
							class="w-100">
					<input (change)="onChange()"
						   [(ngModel)]="parameter.start"
						   matSliderThumb>
				</mat-slider>
			</mat-card-content>
		</mat-card>
		<mat-card class="mt-3">
			<mat-card-content>
				<mat-label>Length ({{parameter.length}}):</mat-label>&nbsp;
				<mat-slider [max]="device.numLeds - parameter.start"
							[min]="FireEffect.FIRE_MIN_SEGMENT_SIZE"
							[step]="1"
							class="w-100">
					<input (change)="onChange()"
						   [(ngModel)]="parameter.length"
						   matSliderThumb>
				</mat-slider>
			</mat-card-content>
		</mat-card>
		<mat-card class="mt-3">
			<mat-card-content>
				<mat-label>Sparking ({{parameter.sparking}}):</mat-label>&nbsp;
				<mat-slider [max]="255"
							[min]="0"
							[step]="1"
							class="w-100">
					<input (change)="onChange()"
						   [(ngModel)]="parameter.sparking"
						   matSliderThumb>
				</mat-slider>
			</mat-card-content>
		</mat-card>
		<mat-card class="mt-3">
			<mat-card-content>
				<mat-label>Cooling ({{parameter.cooling}}):</mat-label>&nbsp;
				<mat-slider [max]="255"
							[min]="0"
							[step]="1"
							class="w-100">
					<input (change)="onChange()"
						   [(ngModel)]="parameter.cooling"
						   matSliderThumb>
				</mat-slider>
			</mat-card-content>
		</mat-card>
		<mat-card class="mt-3">
			<mat-card-content>
				<mat-label>Spark level ({{parameter.sparkLevel}}):</mat-label>&nbsp;
				<mat-slider [max]="parameter.length"
							[min]="FireEffect.FIRE_MIN_SPARK_LEVEL"
							[step]="1"
							class="w-100">
					<input (change)="onChange()"
						   [(ngModel)]="parameter.sparkLevel"
						   matSliderThumb>
				</mat-slider>
			</mat-card-content>
		</mat-card>
		<mat-card class="mt-3">
			<mat-card-content>
				<mat-slide-toggle (change)="onChange()" [(ngModel)]="parameter.inverted">
					Inverted
				</mat-slide-toggle>
			</mat-card-content>
		</mat-card>
		<button (click)="onRemove()" class="remove" color="secondary" mat-mini-fab>
			<mat-icon>remove</mat-icon>
		</button>
	</mat-card-content>
</mat-card>
