<div class="container-fluid m-0 p-0">
	<div class="row m-0 p-0">
		<div class="col-12 d-flex justify-content-end">
			<button (click)="addToPreset()" class="cursor-pointer" mat-icon-button>
				<mat-icon>save</mat-icon>
			</button>
		</div>
	</div>
	<div class="row m-0 p-0">
		<div *ngIf="devices.length === 0" class="m-2">There are no devices to display.</div>
		<ng-container *ngFor="let device of devices">
			<div class="col-12 col-lg-6 col-md-12 p-lg-2 p-1">
				<mat-card>
					<mat-card-header (click)="toggleDevice(device)">
						<div class="d-flex align-items-center justify-content-center icon-handler mt-1"
							 mat-card-avatar>
							<mat-icon>memory</mat-icon>
						</div>
						<button class="toggle" color="secondary" mat-icon-button>
							<mat-icon>{{device.hidden ? 'expand_more' : 'expand_less'}}</mat-icon>
						</button>
						<mat-card-title>{{device.name ? device.name : device.id}}
						</mat-card-title>
						<mat-card-subtitle>
							<div>Missing pings: {{device.pendingPings}}/{{maxAllowedPendingPings}},
								LEDs: {{device.numLeds}}</div>
						</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content *ngIf="!device.hidden" class="p-0 m-0">
						<div *ngIf="!device.supported" class="m-3">
							This device's version <b>{{device.version}}</b> is not
							supported. Minimum supported version is: <b>{{minSupportedVersion}}</b>.
						</div>
						<mat-tab-group *ngIf="device.supported" selectedIndex="1">
							<mat-tab label="Configuration">
								<div class="mx-3">
									<mat-card class="mt-3">
										<mat-card-content>
											<mat-slide-toggle (change)="onDeviceConfigurationChange(device)"
															  [(ngModel)]="device.on.value">
												On/Off
											</mat-slide-toggle>
										</mat-card-content>
									</mat-card>
									<mat-card class="mt-3">
										<mat-card-content>
											<mat-label>Brightness</mat-label>

											<mat-slider [max]="255"
														[min]="0"
														[step]="10"
														class="w-100">
												<input (change)="onDeviceConfigurationChange(device)"
													   [(ngModel)]="device.brightness.value"
													   matSliderThumb>
											</mat-slider>
										</mat-card-content>
									</mat-card>
									<mat-card class="mt-3">
										<mat-card-content>
											<div>Num LEDs: {{device.numLeds}}</div>
										</mat-card-content>
									</mat-card>
									<mat-card class="mt-3">
										<mat-card-content>
											<div>Version: {{device.version.toString()}}</div>
										</mat-card-content>
									</mat-card>
								</div>
							</mat-tab>
							<mat-tab label="Effects">
								<mat-tab-group [selectedIndex]="(device.currentEffect?.code || 1) - 1">
									<ng-container
										*ngFor="let availableEffect of device.availableEffects | keyvalue">
										<mat-tab [label]="availableEffect.value.name | titlecase">
											<app-effect
												(change)="onEffectChange(device.id, availableEffect.value)"
												[device]="device"
												[effect]="availableEffect.value"></app-effect>
										</mat-tab>
									</ng-container>
								</mat-tab-group>
							</mat-tab>
						</mat-tab-group>
					</mat-card-content>
					<mat-card-actions class="d-flex justify-content-end align-content-center p-0 m-3">
						<button (click)="onRenameDeviceClick(device)" class="icon-handler" mat-icon-button>
							<mat-icon>edit</mat-icon>
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</ng-container>
	</div>
</div>

