<div class="dialog">
	<div class="mat-dialog-title" mat-dialog-title>Save preset</div>
	<div class="mat-dialog-content" mat-dialog-content>
		<p>Provide a name for your preset.</p>
		<mat-form-field class="w-100">
			<input [(ngModel)]="name" matInput placeholder="Name" type="text">
		</mat-form-field>
		<mat-selection-list [(ngModel)]="chosenDevices">
			<mat-list-option *ngFor="let device of devices" [selected]="true" [value]="device">
				{{device.name}}
			</mat-list-option>
		</mat-selection-list>
	</div>
	<div class="mb-3 mx-3" mat-dialog-actions>
		<button (click)="onSaveButtonClick()" mat-raised-button>Save</button>
		<button (click)="onCancelButtonClick()" mat-button>Cancel</button>
	</div>
</div>
