<div class="mt-3 mx-3">
	<div class="d-flex flex-row-reverse mb-3">
		<button (click)="onApplyClick()"
				mat-icon-button>
			<mat-icon>play_circle_outline</mat-icon>
		</button>
		<button (click)="onReplicateClick()"
				mat-icon-button>
			<mat-icon>queue</mat-icon>
		</button>
	</div>
	<div *ngIf="effect.description !== ''">
		<div><b>Description</b></div>
		<div class="mt-1">{{effect.description}}</div>
	</div>
	<div *ngFor="let parameter of this.effect.parameters" class="mt-3">
		<app-parameter (change)="onParameterChange(parameter)" [device]="device"
					   [parameter]="parameter"></app-parameter>
	</div>
</div>
