$primary-color-700: #aabb97;
$primary-color-500: #aabb97;
$primary-color-100: #dcedc8;
$primary-color: $primary-color-500;

$primary-color-contrast-700: #000a12;
$primary-color-contrast-500: #263238;
$primary-color-contrast-100: #4f5b62;
$primary-color-contrast: $primary-color-contrast-500;

$accent-color-700: #c63f17;
$accent-color-500: #ff7043;
$accent-color-100: #ffa270;
$accent-color: $accent-color-500;

$accent-color-contrast-700: #e3bdb6;
$accent-color-contrast-500: #e8cac4;
$accent-color-contrast-100: #f3e4e1;
$accent-color-contrast: $accent-color-contrast-500;

$warn-color-700: #b42620;
$warn-color-500: #fe673b;
$warn-color-100: #e85323;
$warn-color: $warn-color-500;

$warn-color-contrast-700: #e26516;
$warn-color-contrast-500: #ffddbc;
$warn-color-contrast-100: #ffffff;
$warn-color-contrast: $warn-color-contrast-500;

.text-primary-color-700 {
    color: $primary-color-700;
}

.text-primary-color-500 {
    color: $primary-color-500;
}

.text-primary-color-100 {
    color: $primary-color-100;
}

$warning-color: #a20909;
$critical-color: #fd4200;
