$primary-color-700: #00aaff;
$primary-color-500: #00aaff;
$primary-color-100: #00aaff;
$primary-color: $primary-color-500;

$primary-color-contrast-700: #ffffff;
$primary-color-contrast-500: #ffffff;
$primary-color-contrast-100: #ffffff;
$primary-color-contrast: $primary-color-contrast-500;

$accent-color-700: #e25c5c;
$accent-color-500: #e25c5c;
$accent-color-100: #e25c5c;
$accent-color: $accent-color-500;

$accent-color-contrast-700: #ffffff;
$accent-color-contrast-500: #ffffff;
$accent-color-contrast-100: #ffffff;
$accent-color-contrast: $accent-color-contrast-500;

$warn-color-700: #b42620;
$warn-color-500: #fe673b;
$warn-color-100: #e85323;
$warn-color: $warn-color-500;

$warn-color-contrast-700: #e26516;
$warn-color-contrast-500: #ffddbc;
$warn-color-contrast-100: #ffffff;
$warn-color-contrast: $warn-color-contrast-500;

.text-primary-color-700 {
	color: $primary-color-700;
}

.text-primary-color-500 {
	color: $primary-color-500;
}

.text-primary-color-100 {
	color: $primary-color-100;
}

$warning-color: #a20909;
$critical-color: #fd4200;
