@import "bootstrap";
@import "./fonts";
@import "./theme";

body, html {
	font-family: $font-family, serif;
	height: calc(100vh - 48px) !important;
	margin: 0;
}

//h1, h2, h3, h4, h5 {
//  font-weight: bold;
//}

.cursor-pointer {
	cursor: pointer;
}

.link {
	color: #4c87b7 !important;
	cursor: pointer;

	&:hover {
		text-decoration: underline !important;
	}
}

//
//.warning {
//  //color: $warning-color;
//  font-weight: bold;
//}
//
//.critical {
//  //color: $critical-color;
//  font-weight: bold;
//}
//
//.background-warning {
//  //background-color: $warning-color;
//}
//
//.background-critical {
//  // background-color: $critical-color;
//}

//.field-label {
//  text-transform: uppercase;
//  color: #aaa;
//  font-size: 12px;
//}
//
//.text-break-word {
//  word-wrap: break-word;
//  word-break: break-word;
//}
//
//.white-space-pre-line {
//  white-space: pre-line;
//}

// Material
//
//.mat-dialog-title {
//  //font-size: 20px;
//}
//
//.mat-dialog-content {
//  max-width: 800px !important;
//}

//.wide-mat-card-header {
//  margin: -16px -16px 0 -16px !important;
//  padding: 16px 16px 0 16px !important;
//  border-radius: 3px 3px 0 0;
//}

//table {
//  width: 100%;
//
//  th, td {
//    padding: 0 12px !important;
//
//    .mat-column-actions {
//      width: 150px;
//    }
//  }
//
//  .mat-table-sticky:first-child {
//    border-right: 1px solid #e0e0e0;
//  }
//
//  .mat-table-sticky:last-child {
//    border-left: 1px solid #e0e0e0;
//  }
//}

//.mat-dialog-actions {
//  padding-bottom: 24px !important;
//}

//mat-form-field {
//  width: 100%;
//}

//.section-title {
//  //color: $primary-color-500;
//  padding-top: 4px;
//}

html, body {
	min-height: calc(100vh - 48px) !important;
}

body {
	margin: 0;
}

mat-card {

	mat-card-header {
		border-bottom: 1px solid #eee;
	}

	border-radius: 20px !important;
	box-shadow: 0 0 !important;
	border: 1px solid gray !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
	border-radius: 20px !important;
}

//.mat-mdc-tab-labels {
//  border-bottom: 1px solid #eee;
//}
