@use '@angular/material' as mat;

@include mat.core();

$font-family: 'Syne Mono';

//@use '@angular/material' as mat;

//$my-primary: mat.define-palette(mat.$indigo-palette, 500);
//$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//
//$my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//  ),
//  typography: mat.define-typography-config(),
//  density: 0,
//));
//
//@include mat.all-component-themes($my-theme);
$default-typography: mat.define-typography-config(
	$font-family: $font-family,
);

//
// Define a dark theme
//$dark-theme: mat.define-dark-theme((
//  color: (
//    primary: mat.define-palette(mat.$pink-palette),
//    accent: mat.define-palette(mat.$blue-grey-palette),
//  ),
//  // Only include `typography` and `density` in the default dark theme.
//  typography: $default-typography,
//  density: 0,
//));

// Define a light theme
$light-theme: mat.define-light-theme((
	color: (
		primary: mat.define-palette(mat.$blue-grey-palette),
		accent: mat.define-palette(mat.$blue-grey-palette),
	),
	typography: $default-typography,
	density: -2
));
//
//// Apply the dark theme by default
//@include mat.core-theme($dark-theme);
//@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
//@media (prefers-color-scheme: light) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.core-color($light-theme);
//  @include mat.button-color($light-theme);
//}

@include mat.all-component-themes($light-theme);

