<mat-label>{{parameter.name | titlecase}} ({{parameter.segments.length}}):</mat-label>&nbsp;
<button (click)="onAddButtonClick()" [disabled]="parameter.segments.length > 15" color="seconday" mat-mini-fab>
	<mat-icon>plus_one</mat-icon>
</button>
<app-color-segment (change)="onChange()"
                   (remove)="onRemove(colorSegment)"
                   *ngFor="let colorSegment of parameter.segments"
                   [device]="device"
                   [parameter]="colorSegment"></app-color-segment>
